html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

/* Style the body */
body {
  color:#ffffff;
  background-color:#000000;
  font-family: Arial;
  margin: 0;
}

/* Scroll back to TOP buttom */
#GoToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  background-color: #0D5EAF;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#GoToTop:hover {
  background-color: white;
  color: #0D5EAF;
}

/* Header logo Title */
.header {
  padding: 10px;
  text-align: center;
  background: #000000;
  color: #ffffff;
}

.site_logo {
  width: 50%;
  hight: 50%,
  max-width: 200px;
  max-hight: 150px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #0D5EAF;
}

/* Style the navigation bar paragrafs */
p.navbar {
  margin: 0px;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

/* Style the navigation bar links */
.navbar a {
  color: #ffffff;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
}

/* Style the side bar links */
.side a {
  border: 1px solid black;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  background-color: #0D5EAF;
  padding-right: 5px;
  padding-left: 5px;
}

/* Style the side bar links on hover */
.side a:hover {
 border-width: 1px;
 border-style: solid;
 color: #d4af37;
 background-color: #000000;
 text-decoration: none;
 padding-right: 5px;
 padding-left: 5px;
}

/* Change color on hover */
.navbar a:hover {
  border-radius: 10px;
  border-width: 1px 3px;
  border-style: solid;
  color: #d4af37;
  background-color: #000000;
  text-decoration: none;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  margin-left: 0px;
  margin-top: 10px;
  margin-bot: 10px;
  padding: 20px;
  flex: 30%;
  margin-top: 10px;
  text-align: left;
  border-radius: 10px;
}

/* Main column */
.main {
  flex: 70%;
}

/* Menu items */

.menu_item {
  border: 2px solid #0D5EAF;
  border-radius: 8px;
  background-color: #0D5EAF;
}

h.menu_item {
  border: none;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}

/* Name of item & info for the item */

.item_name {
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: -12px;
  margin-top: -5px;
}

.item_price {
  vertical-align:center;
  display: inline-block;
  color: #ffffff;
  font-weight: bold;
  margin-left: 5px;
  margin-bottom: -12px;
  margin-top: -5px;
}

.item_info {
  color: #ffffff;
  margin-left: 20px;
  margin-top: -2px;
}


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #0D5EAF;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}
