.Logo {
  text-align: center;
  }

.body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(3vw, 15px);
  color: #FFFFFF;
  background-color: #001489;
  }

/* Style the tab */
.tab {
  overflow: hidden;
  background-color: #000000;
  }

/* Style the buttons inside the tab */
.tab button {
  color: #FFFFFF;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  }

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #001489;
  }

/* Create an active/current tablink class */
.tab button.active {
  background-color: #001489;
  }

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  }

/* Style the tab */
.tab2 {
  overflow: hidden;
  background-color: #000000;
  }

/* Style the buttons inside the tab */
.tab2 button {
  color: #FFFFFF;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  }

/* Change background color of buttons on hover */
.tab2 button:hover {
  background-color: #001489;
  }

/* Create an active/current tablink class */
.tab2 button.active {
  background-color: #001489;
  }

/* Style the tab content */
.tabcontent2 {
  display: none;
  padding: 6px 12px;
  }

.Syrtaki-Front-Gate {
  text-align: center;
  }

.KontaktText {
  text-align: center;
  }

.menusite {
  white-space: pre;
  line-height: 1.6;
  background-color: #040D45;

  }

/* Create two equal columns that floats next to each other */
.ItemInfo-Price {
  color: #FFFFFF;
  line-height: 1.6;
  padding-right: 3px;
  background-color: #040D45;
  font-family: Arial, Helvetica, sans-serif;
  white-space: pre;
  float: left;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.datenschutz {
  background-color: #000000;
  padding-right: 10px;
  padding-left: 10px;
  }
